<div class="d-flex justify-content-center">
    <span class="p-float-label d-flex w-75">
        <input (keydown.enter)="buscar(texto)"  #texto id="float-input" class="w-100" type="text" pInputText> 
        <label for="float-input">Busca una ciudad</label>
        <button (click)="buscar(texto)"   type="button" class="btn btn-primary ms-1">Buscar</button>
    </span>
</div>

<div class="d-flex justify-content-center mt-4">
    <div class="spinner" *ngIf="busquedaSnipper">
        <img id="sol" src="../../../assets/Iconos/01d.png" alt="Sol">
    </div>
</div>


<div class="d-flex justify-content-center" *ngIf="errorBusqueda">
    <div class="alert alert-danger mt-3 w-75" role="alert">
        La búsqueda no se ha podido completar correctamente.
    </div>
</div>
