.tarjeta{
    min-height: 50%;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgb(0, 110, 255) 0%, rgb(50, 9, 121) 100%);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 1.5vw;
}

.busquedaPrincipal{
    min-height: 50vh;
}

a:link, a:visited, a:active {    text-decoration:none;}