<div class="bg-warning pb-1 mb-5">
  <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img width="100" src="../../../assets/Logo.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav d-flex justify-content-around aling-items-center w-100">
         
            <div class="d-flex">
                <li class="nav-item m-1">
                    <a class="nav-link" routerLink="" routerLinkActive="active" aria-current="page" >Inicio</a>
                </li>
            </div>
         
            <li class="d-flex justify-content-center aling-items-center flex-column">
               <p-inputSwitch class="switch d-flex justify-content-center aling-items-center flex-column"></p-inputSwitch>
            </li>
        </ul>
      </div>
    </div>
  </nav>

</div>
<!-- (click)="cambiarEstilos()" -->